{%  extends "base.html" %}

{%  block title %}
    MSc project
{%  endblock %}


{%  block body %}




    <div class="container ">




        <div class="row ">


            {% for key, reading in data.items() %}
                <div class="col-md-3 col-md-offset-1  reading">

                <div class="row text-center location">

                    {%  if key == "PiJCCoffee" %}
                        Coffee area

                    {%  elif key == "PiJHLabDoor" %}
                        John Honey lab

                    {%  elif key == "PiJCLabRear" %}
                        Jack Cole lab

                    {% endif %}



                </div>


                {%  if reading.AQI > 0.66 %}
                    <div class="row text-center AQI AQI-good">

                {%  elif reading.AQI >= -0.66 %}
                    <div class="row text-center AQI AQI-acceptable">

                {%  elif reading.AQI < -0.66 %}
                    <div class="row text-center AQI AQI-bad">

                {% endif %}

            {{ reading.AQI }}

            </div>

            <div class="row text-center breakdown">

            <div class="col-md-4">
                <div class="row">
                <div class="col-md-12" > Temperature</div>
                <div class="col-md-12"> {{ reading.temperature}}ᵒC</div>
                </div>
            </div>

            <div class="col-md-4">
                                <div class="row">

                <div class="col-md-12"> Humidity</div>
                <div class="col-md-12"> {{ reading.humidity}}%</div>
                                </div>
            </div>

            <div class="col-md-4">
                                <div class="row">

                <div class="col-md-12"> VOC </div>
                <div class="col-md-12"> {{ reading.voc}}</div>
                                </div>
            </div>

            </div>


            </div>

            {%  endfor %}


            </div>

            <br>
            <br>

            </div>
        </div>
    </div>

    </body>

{%  endblock %}