<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}


</style>
<body>


<!-- load the d3.js library -->
<script src="https://d3js.org/d3.v4.min.js"></script>


<script>


    var data = '{{data2 | tojson}}';
    var data2 = JSON.parse(data2)


    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 50, left: 50},
        width = 1500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);


    // define the 2nd line
    var valueline4 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht22); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    array = []
    data2.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.humidity;
        array.push(d.dht22)

    });


    // Scale the range of the data
    x.domain(d3.extent(data2, function(d) { return d.date; }));
    y.domain([0, d3.max(data2, function(d) {
        return Math.max(d.dht22); })]);

    // Add the valueline2 path.
    svg.append("path")
        .data([data2])
        .attr("class", "line")
        .style("stroke", "black")
        .attr("d", valueline4);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x axis label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (height + margin.top +10) + ")")
        .style("text-anchor", "middle")
        .text("Date");

    //y axis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height /2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Value");

    //chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("Temperature plot");


</script>


<br>





<script>


    var data = '{{data | tojson}}';
    var data = JSON.parse(data)


    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 50, left: 50},
        width = 1500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);


    // define the 2nd line
    var valueline4 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht22); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    array = []
    data.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.humidity;
        array.push(d.dht22)

    });


    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) {
        return Math.max(d.dht22); })]);

    // Add the valueline2 path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "black")
        .attr("d", valueline4);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x axis label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (height + margin.top +10) + ")")
        .style("text-anchor", "middle")
        .text("Date");

    //y axis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height /2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Value");

    //chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("Temperature plot");


</script>


<br>

<script>

    var data = '{{data | tojson}}';
    var data = JSON.parse(data)



    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 50, left: 50},
        width = 500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);


    // define the 2nd line
    var valueline4 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht22); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    data.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.humidity;

    });


    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) {
        return Math.max(d.dht22); })]);

    // Add the valueline2 path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "black")
        .attr("d", valueline4);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x axis label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (height + margin.top +10) + ")")
        .style("text-anchor", "middle")
        .text("Date");

    //y axis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height /2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Value");

    //chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("Temperature plot");


</script>


<script>

    var data = '{{data | tojson}}';
    var data = JSON.parse(data)



    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 50, left: 50},
        width = 250 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);


    // define the 2nd line
    var valueline4 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht22); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    data.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.humidity;

    });


    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) {
        return Math.max(d.dht22); })]);

    // Add the valueline2 path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "black")
        .attr("d", valueline4);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x axis label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (height + margin.top +10) + ")")
        .style("text-anchor", "middle")
        .text("Date");

    //y axis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height /2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Value");

    //chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("Temperature plot");

        document.write(array)

</script>

</body>

</html>