{%  extends "base.html" %}

{%  block title %}
  MSc project
{%  endblock %}


{%  block body %}
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sensor data</a>
        </div>
    </div>
</nav>

<div class="container">

    <table class = "table table-striped table-fixed">
        <caption> Raspberry PI A sensor readings</caption>

        <thead>
        <tr>
            <th>Time</th>
            <th>Temperature  (ºC)</th>
            <th>Pressure (Pa)</th>
            <th>Light (0-65535.0)</th>
        </tr>
        </thead>


        <tbody>

        {% for reading in readings %}
            <tr>
                <td> {{ moment(reading.time).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                <td> {{ reading.temperature }}</td>
                <td> {{ reading.pressure }}</td>
                <td> {{ reading.light }}</td>
                <td></td>
            </tr>

        {%  endfor %}

        </tbody>
    </table>
    {#
    <div class="row">
        <form action="." method="POST">
            <textarea class="form-control" name="temperature" placeholder="Enter a temperature value"></textarea>
                        <textarea class="form-control" name="pressure" placeholder="Enter a pressure value"></textarea>
                        <textarea class="form-control" name="light" placeholder="Enter a light value"></textarea>



            <input type="submit" value="Post comment">
        </form>
    </div>#}



</div>

</body>

{%  endblock %}