<html>
<head>

    <link href="../static/css/styles.css" rel="stylesheet">

    <script type="text/javascript" src="../static/libraries/d3.v3.min.js"></script>


    <script src="./static/libraries/d3.parcoords.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/libraries/d3.parcoords.css">



    <title> Environment visualisation </title>

    <style>
        p{
            font-family: sans-serif;
            color: grey;
        }
    </style>
</head>
<body>



<h2>Parallel coordinates </h2>

<script>


    function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

// get readings over api
//var readings = JSON.parse(httpGet('http://localhost:8080/readings'))

</script>

    <div id="example" class="parcoords" style="width:1500px;height:700px"></div>

<script>


    var json = '{{data3 | tojson}}';
    var json = JSON.parse(json)

    console.log(json)

    d3.csv(json, function(error,data){


    var graph = d3.parcoords()("#example")
        .data(json)
        .render()
        .ticks(3)
        .createAxes()
        .reorderable();
    })

</script>

</body>
</html>