<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}


</style>
<body>

kkk

<!-- load the d3.js library -->
<script src="https://d3js.org/d3.v4.min.js"></script>


<script>

    var data = '{{JCCoffee | tojson}}';
    var data2 = JSON.parse(data)


</script>

<script>

    var data = '{{JCCoffee | tojson}}';
    var data = JSON.parse(data)

    var JCLab = '{{JCLab | tojson}}';
    var JCLab = JSON.parse(JCLab)

    var JHLab = '{{JHLab | tojson}}';
    var JHLab = JSON.parse(JHLab)


    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 30, left: 50},
        width = 1500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // define the 1st line
    var valueline3 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.voc); });

    // define the 2nd line
    var valueline4 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.voc); });

    // define the 5th line
    var valueline5 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.voc); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // Get the data


    // format the data
    data.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.voc;
    });

    // format the data
    JCLab.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.voc;
    });

    // format the data
    JHLab.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.voc;
    });

    var allData = data.concat(JCLab.concat(JHLab))


    // Scale the range of the data
    x.domain(d3.extent(allData, function(d) { return d.date; }));
    y.domain([0, d3.max(allData, function(d) {
        return Math.max(d.voc); })]);

    // Add the green path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "green")
        .attr("d", valueline3);

    // Add the blue path.
    svg.append("path")
        .data([JCLab])
        .attr("class", "line")
        .style("stroke", "blue")
        .attr("d", valueline4);

    // Add the red path.
    svg.append("path")
        .data([JHLab])
        .attr("class", "line")
        .style("stroke", "red")
        .attr("d", valueline5);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("VOC levels");


</script>






<script>

    var data = '{{JCCoffee | tojson}}';
    var data = JSON.parse(data)


    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 50, left: 50},
        width = 1500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // define the 1st line
    var valueline3 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.humidity); });

    // define the 2nd line
    var valueline4 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht22); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // Get the data


    // format the data
    data.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.humidity;
        d.dht22 = +d.dht22;
    });

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) {
        return Math.max(d.voc, d.dht22); })]);

    // Add the valueline path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "red")
        .attr("d", valueline3);

    // Add the valueline2 path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .style("stroke", "black")
        .attr("d", valueline4);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x axis label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (height + margin.top +10) + ")")
        .style("text-anchor", "middle")
        .text("Date");

    //y axis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height /2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Value");

    //chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("Temperature and Humidity relationship (Jack Cole Coffee Area");


</script>

{#temperatures#}

<script>

    var JCCoffee = '{{JCCoffee | tojson}}';
    var JCCoffee = JSON.parse(JCCoffee)

    var JCLab = '{{JCLab | tojson}}';
    var JCLab = JSON.parse(JCLab)

    var JHLab = '{{JHLab | tojson}}';
    var JHLab = JSON.parse(JHLab)

    console.log(JHLab)
    console.log(JCLab)
    console.log(JCCoffee)

    // set the dimensions and margins of the graph
    var margin = {top: 40, right: 20, bottom: 30, left: 50},
        width = 1500 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // parse the date / time
    var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S%Z");

    // set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // define the 1st line
    var valueline8 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht22); });

    // define the 2nd line
    var valueline9 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht11); });

    // define the 5th line
    var valueline10 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.dht11); });

    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // Get the data


    // format the data
    JCCoffee.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.dht22;
    });

    // format the data
    JCLab.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.dht11;
    });

    // format the data
    JHLab.forEach(function(d) {
        d.date = parseTime(d.date);
        d.voc = +d.dht11;
    });

    var allData = data.concat(JCLab.concat(JHLab))

    console.log(allData)

    // Scale the range of the data
    x.domain(d3.extent(allData, function(d) { return d.date; }));
    y.domain([d3.min(allData, function(d) {
        return Math.max(d.dht22, d.dht11); }), d3.max(allData, function(d) {
        return Math.max(d.dht22, d.dht11); })]);

    // Add the blue path.
    svg.append("path")
        .data([JCLab])
        .attr("class", "line")
        .style("stroke", "blue")
        .attr("d", valueline9);

    // Add the red path.
    svg.append("path")
        .data([JHLab])
        .attr("class", "line")
        .style("stroke", "red")
        .attr("d", valueline10);

    // Add the green path.
    svg.append("path")
        .data([JCCoffee])
        .attr("class", "line")
        .style("stroke", "green")
        .attr("d", valueline8);


    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    //x chart label
    svg.append("text")
        .attr("transform",
            "translate(" + (width/2) + " ," +
            (-20) + ")")
        .style("text-anchor", "middle")
        .text("Temperatures");

</script>

</body>